h1, h2, h3, p, body{
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.cen{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
  }
.border {
    border-left: 5px solid red;
    background-color: rgb(255, 208, 208);
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
.border2 {
    border-left: 5px solid rgb(67, 201, 55);
    background-color: rgb(215, 255, 188);
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }